<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="main.js"></script>
</head>

<body>
    <label for="story">Tell to OpenAI:</label>
    <table align="center">
        <tr>
            <td>
                <textarea id="send" name="story" rows="15" cols="60"></textarea>
                <button type="button" id="bsend" onclick="button_callback()">Send</button>
            </td>
        </tr>
    </table>
    <label for="story">Reply from OpenAI:</label>
    <table align="center">
        <tr>
            <td>
                <textarea id="reply" name="story" rows="15" cols="60"></textarea>
            </td>
        </tr>
    </table>
</body>

